
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:700&display=swap');
body{
  /* background-image: url("C:/Users/Najee/Desktop/background.jpg"); */
  padding: 1rem;
  margin-top: 1rem;
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s; /* Chrome and Safari */
}
@keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }
article{
  width: 50%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
h1{
  text-align: center;
  padding-bottom: 1.5rem;
  font-family: 'Pacifico', cursive;
}
.border{
    height: 77px;
    background-color: white;
    text-align: center;
    padding-top: 1.5rem;
}
footer{
  position: fixed;
  top: 30rem;
}


/* anything under 500px changes  */
@media (max-width: 500px) {
 article p {
       line-height: 1rem;
 }
 #elSaved{

 }
}
